// Specific CSS for your home-page
.header {
  color: red;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif ;
  text-align: center;
  background-color:khaki;
}

.body {
  font-size: 40px;
  margin-left: 45px;
  color:rgb(95, 92, 92);
  font-family: 'Times New Roman', Times, serif;
}
